body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(40, 137, 215);
}
.container {
    max-width: 500px;
    margin: 30px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
h2 {
    margin-bottom: 40px;
    text-align: center;
    color: #625f5f;
}
label {
    display: block;
    margin-bottom: 20px;
    color: #504949;
}
input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 3px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}
input[type="submit"] {
    align-self: flex-start;
    background-color: #4caf50;
    color: #fff;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
input[type="submit"]:hover {
    background-color: #45a049;
    text-align: right;
}
.progress {
    margin-bottom: 30px;
    text-align: center;
}
.progress-bar {
    width: 50%;
    background-color: #4caf50;
    color: #fff;
    padding: 8px 0;
    border-radius: 5px;
    box-sizing: border-box;
}
